@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.NavigationGroup>>
@using Umbraco.Cms.Core.Models

@if ((Model.Content.ChildLinks != null && Model.Content.ChildLinks.Any())
&& (!string.IsNullOrWhiteSpace(Model.Content.Title) || Model.Content.Link != null))
{
    var activeLink = "";
    if (Model.Content.Link is not null && Model.Content.Link.Url == Umbraco.AssignedContentItem.Url())
    {
        activeLink = "active-link";
    }
    <div>

        <div class="submenu" tabindex="0">
            @if (Model.Content.Link != null)
            {
                <a class="submenu-arrow @activeLink" target="@Model.Content.Link.Target" href="@Model.Content.Link.Url" role="button">
                    @Model.Content.Link.Name
                </a>
            }
            else if (!string.IsNullOrWhiteSpace(Model.Content.Title))
            {
                <a role="button">
                    @Model.Content.Title
                </a>
            }
            <svg style="margin-left:5px; margin-top:3px;" class="submenu-arrow" xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 12 12" fill="none">
                <path d="M1.50002 4L6.00002 8L10.5 4" stroke-width="1.5"></path>
            </svg>
            <div class="nav-submenu">
                @foreach (var childLink in Model.Content.ChildLinks)
                {
                    <a target="@childLink.Target" href="@childLink.Url">
                        @childLink.Name
                    </a>
                }
            </div>
        </div>
    </div>
}
else
{
    var activeLink = "";
    if (Model.Content.Link is not null && Model.Content.Link.Url == Umbraco.AssignedContentItem.Url())
    {
        activeLink = "active-link";
    }
    <div>
        @if(Model.Content.HasIcon is MediaWithCrops mediaEntry)
        {
            <a class="nav-icon" target="@Model.Content.Link.Target" href="@Model.Content.Link.Url">
                <img src="@Model.Content.HasIcon.MediaUrl()" /><span class="nav-icon-text">@Model.Content.Link.Name</span>
            </a>
        }
        else if(Model.Content.IsButton)
        {
            <a class="nav-button" target="@Model.Content.Link.Target" href="@Model.Content.Link.Url">
                @Model.Content.Link.Name
            </a>
        }
        else
        {
            <a class="@activeLink" target="@Model.Content.Link.Target" href="@Model.Content.Link.Url">
                @Model.Content.Link.Name
            </a>
        }
    </div>
}
