@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.GeneralContent>>

@if(Model.Content.Section == 2)
{
    <div class="fade-in-section container padding-y-md container-w-lg color-white content-center" style="position:relative;z-index:2;text-align:center;margin-top:40px;margin-bottom:200px;">
        <div class="flex-col content-center gap-xl text-center gap-md">
            <div>@Model.Content.Title</div>
            <div>@Model.Content.Text</div>
            @if (Model.Content.Buttons is not null && Model.Content.Buttons.Count > 0)
            {
                @foreach (BlockListItem<ContentModels.Button> item in Model.Content.Buttons)
                {
                    if (item.Content.Link is null || item.Content.Color is null || item.Content.Label is null) continue;
                    <div class="content-center flex-col gap-md">
                        <a href="@item.Content.Link.Url" class="flex-row gap-sm button button-@item.Content.Color.Label.ToLower()">
                            <div>
                                @item.Content.Label
                            </div>
                            @if (item.Content.Icon is not null && item.Content.Icon == "Arrow")
                            {
                                <svg style="stroke:currentColor;" width="15" height="10" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.00090605 4L10.1445 4" stroke="inherit" stroke-linejoin="round" />
                                    <path d="M7.41356 6.73051L10.1445 3.99953L7.41356 1.26855" stroke="inherit" stroke-linejoin="round" />
                                </svg>
                            }
                        </a>
                    </div>
                }
            }
        </div>
    </div>
}
@if(Model.Content.Section == 3)
{
    <div style="z-index:2;position:relative;" class="before-divider-white bg-base color-black">
        <div class="grid-2 gap-2xl fade-in-section container padding-y-xl">
            <div class="flex-col content-center">
                @if(Model.Content.Image is not null)
                {
                    <img style="margin: auto 0;" class="w-full" src="@Model.Content.Image.Url()" alt="@Model.Content.Image.GetAltText()" />
                }
            </div>
            <div class="flex-col gap-lg">
                <div>@Model.Content.Title</div>
                <div>@Model.Content.Text</div>
                @if (Model.Content.Buttons is not null && Model.Content.Buttons.Count > 0)
                {
                    @foreach (BlockListItem<ContentModels.Button> item in Model.Content.Buttons)
                    {
                        if (item.Content.Link is null || item.Content.Color is null || item.Content.Label is null) continue;
                        <div class="content-center flex-col gap-md">
                            <a href="@item.Content.Link.Url" class="flex-row gap-sm button button-@item.Content.Color.Label.ToLower()">
                                <div>
                                    @item.Content.Label
                                </div>
                                @if (item.Content.Icon is not null && item.Content.Icon == "Arrow")
                                {
                                    <svg style="stroke:currentColor;" width="15" height="10" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.00090605 4L10.1445 4" stroke="inherit" stroke-linejoin="round" />
                                        <path d="M7.41356 6.73051L10.1445 3.99953L7.41356 1.26855" stroke="inherit" stroke-linejoin="round" />
                                    </svg>
                                }
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}
@if (Model.Content.Section == 5)
{
    <div style="z-index:2;position:relative;" class="bg-base color-black">
        <div class="grid-2 gap-2xl fade-in-section container padding-y-xl">
            <div class="flex-col content-center">
                @if (Model.Content.Image is not null)
                {
                    <img style="margin: auto 0;" class="w-full" src="@Model.Content.Image.Url()" alt="@Model.Content.Image.GetAltText()" />
                }
            </div>
            <div class="flex-col gap-lg">
                <div>@Model.Content.Title</div>
                <div>@Model.Content.Text</div>
                @if (Model.Content.Buttons is not null && Model.Content.Buttons.Count > 0)
                {
                    @foreach (BlockListItem<ContentModels.Button> item in Model.Content.Buttons)
                    {
                        if (item.Content.Link is null || item.Content.Color is null || item.Content.Label is null) continue;
                        <div class="content-center flex-col gap-md">
                            <a href="@item.Content.Link.Url" class="flex-row gap-sm button button-@item.Content.Color.Label.ToLower()">
                                <div>
                                    @item.Content.Label
                                </div>
                                @if (item.Content.Icon is not null && item.Content.Icon == "Arrow")
                                {
                                    <svg style="stroke:currentColor;" width="15" height="10" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.00090605 4L10.1445 4" stroke="inherit" stroke-linejoin="round" />
                                        <path d="M7.41356 6.73051L10.1445 3.99953L7.41356 1.26855" stroke="inherit" stroke-linejoin="round" />
                                    </svg>
                                }
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}
@if (Model.Content.Section == 6)
{
    <div style="z-index:2;position:relative;" class="bg-base color-black padding-y-lg">
        <div class="flex-row-lg gap-2xl fade-in-section container bg-white">
            <div class="image-collapse flex-col content-center">
                @if (Model.Content.Image is not null)
                {
                    <img class="w-full" src="@Model.Content.Image.Url()" alt="@Model.Content.Image.GetAltText()" />
                }
            </div>
            <div class="content-collapse flex-col gap-xl">
                @if (!Model.Content.Title.IsNullOrWhiteSpace())
                {
                    <div>@Model.Content.Title</div>
                }
                @if (!Model.Content.Text.IsNullOrWhiteSpace())
                {
                <div>@Model.Content.Text</div>
                }
                @if (Model.Content.Buttons is not null && Model.Content.Buttons.Count > 0)
                {
                    @foreach (BlockListItem<ContentModels.Button> item in Model.Content.Buttons)
                    {
                        if (item.Content.Link is null || item.Content.Color is null || item.Content.Label is null) continue;
                        <div class="flex-col gap-md">
                            <a href="@item.Content.Link.Url" class="button button-@item.Content.Color.Label.ToLower()">
                                <div>
                                    @item.Content.Label
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}